<mat-toolbar id="headerToolbar">
  <span id="titleWebsite"><img src="assets/img/logo.png" width="70px" style="margin-top: 10px" /> <a href="/"
      style="text-decoration: none; color: orange"> Error tracker</a></span>
</mat-toolbar>

<mat-toolbar class="top-section">
  <mat-toolbar-row>
    <span>We improve the quality assurance by tracking all the errors! </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar>
  <mat-toolbar-row style="display: flex; align-items: center; text-align: center; justify-content: center; min-height: 84px">
  <div>
    <a href="list">
    <button mat-raised-button action="list" class="applicationMenuItem">
      <mat-icon aria-label="Error Outline icon">error_outline</mat-icon> Open Errors
    </button>
    </a>
    </div>
    <div>
      <a href="allfixederrors">
        <button mat-raised-button class="applicationMenuItem">
          <mat-icon aria-label="Assignment Turned In icon">assignment_turned_in</mat-icon> Fixed Errors
        </button>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<br>

<div>
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer-section">
  <mat-toolbar-row>
    <span>Made with </span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="heart icon"
      style="margin-left: 5px; height:14px;font-size: 14px;">favorite</mat-icon>
    <span>by a.dridi (github.com/a-dridi)</span>
  </mat-toolbar-row>
</mat-toolbar>