#titleWebsite {
    font-size: 28px;
}

.top-section {
    background-color: fuchsia;
    color: white;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-section {
    font-size: 10px;
}

.applicationMenuItem {
    width: 200px;
    margin-right: 15px;
}

-applicationMenuDiv {
   
}