<div>
    <br>
    <mat-card class="container-appointment-main">
        <section class="mat-typograhy">
            <h3>Add new Error (Error Message)</h3>
        </section>
        <mat-divider></mat-divider>
        <br>
        <form [formGroup]="createForm" class="create-form">
            <div fxLayout="row" class="field-full-width">
                <mat-form-field>
                    <input matInput [ngxTimepicker]="timepicker" [format]="24" placeholder="Time">
                </mat-form-field>
                <ngx-material-timepicker (timeSet)="updateTime($event)" #timepicker></ngx-material-timepicker>
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" #date>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Application Name" formControlName="application" #application>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Title" formControlName="title" #title>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <input matInput placeholder="Description" formControlName="description" #description>
            </mat-form-field>
            <mat-divider>
            </mat-divider>
            <br>
            <br>
            <button type="submit" (click)="addErrorMessage(date.value, application.value, title.value, description.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary" class="button-submit-errormessage">Save</button>
            <button mat-raised-button color="accent" routerLink="/">Back</button>
        </form>
    </mat-card>
</div>