<div>
    <br>
    <div class="siteHeader">
        <div>
            <mat-icon aria-label="Error Outline icon" class="siteHeaderIcon">error_outline</mat-icon>
        </div>
        <div>
            <h3> Open Errors</h3>
        </div>
    </div>
    <br>
    <br>
    <mat-card class="container-errormessage-main">
        <button mat-raised-button color="orange" routerLink="/create">
            <mat-icon aria-label="Add icon">add_box</mat-icon> Add new error (error message)
        </button>
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>
        <table mat-table [dataSource]="errorMessages">

            <ng-container matColumnDef="fix">
                <th mat-header-cell *matHeaderCellDef class="main-column-errormessage">Fix</th>
                <td mat-cell *matCellDef="let element" class="main-column-errormessage">
                    <mat-checkbox [(ngModel)]="element.fixed" (change)="fixError(element._id)"
                        style="height: 30px; width: 30px;"> </mat-checkbox> ->
                </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="main-column-errormessage">Date</th>
                <td mat-cell *matCellDef="let element" class="main-column-errormessage">
                    {{element.date | date : "dd.MM.yyyy HH:mm"}}</td>
            </ng-container>

            <ng-container matColumnDef="application">
                <th mat-header-cell *matHeaderCellDef>Application name</th>
                <td mat-cell *matCellDef="let element">{{element.application}}</td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element"><button mat-raised-button
                        (click)="showDescription(element.date, element.title, element.description)" class="showDescriptionButton"
                        style="min-width: 42px; padding: 0 0px;">
                        <mat-icon aria-label="Receipt icon">receipt</mat-icon>
                    </button></td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">{{element.status}} <button mat-raised-button
                        (click)="changeErrorStatus(element._id, element.status)" class="editStatusButton"
                        style="min-width: 42px; padding: 0 0px;">
                        <mat-icon aria-label="Edit icon">edit</mat-icon>
                    </button></td>
            </ng-container>

            <ng-container matColumnDef="edit-delete">
                <th mat-header-cell *matHeaderCellDef class="mat-column-right">Edit - Delete</th>
                <td mat-cell *matCellDef="let element" class="mat-column-right">
                    <button mat-button color="primary" (click)="editErrorMessage(element._id)">Edit</button>
                    <button mat-button color="warn" (click)="deleteErrorMessage(element._id)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="errorMessageColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: errorMessageColumns;"></tr>

        </table>
    </mat-card>
</div>