<div>
    <br>
    <div class="siteHeader">
        <div>
            <mat-icon aria-label="Assignment Turned In icon" class="siteHeaderIcon">assignment_turned_in</mat-icon>
        </div>
        <div>
            <h3> Fixed Errors</h3>
        </div>
    </div>
    <br>
    <br>
    <mat-card class="container-errormessage-main">
        <button mat-raised-button color="orange" routerLink="/create">
            <mat-icon aria-label="Add icon">add_box</mat-icon> Add new error (error message)
        </button>
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>
        <table mat-table [dataSource]="errorMessages">

            <ng-container matColumnDef="unfix">
                <th mat-header-cell *matHeaderCellDef class="main-column-errormessage">Unfix</th>
                <td mat-cell *matCellDef="let element" class="main-column-errormessage">
                    <mat-checkbox [(ngModel)]="element.fixed" (change)="unfixError(element._id)"> </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="fixeddate">
                <th mat-header-cell *matHeaderCellDef class="main-column-errormessage">Fixed (Date)</th>
                <td mat-cell *matCellDef="let element" class="main-column-errormessage">
                    {{element.fixedDate | date : "dd.MM.yyyy HH:mm"}}</td>
            </ng-container>

            <ng-container matColumnDef="application">
                <th mat-header-cell *matHeaderCellDef>Application name</th>
                <td mat-cell *matCellDef="let element">{{element.application}}</td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="errordate">
                <th mat-header-cell *matHeaderCellDef>Error creation (Date) </th>
                <td mat-cell *matCellDef="let element"> {{element.errorDate | date : "dd.MM.yyyy HH:mm"}}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="mat-column-right">Delete</th>
                <td mat-cell *matCellDef="let element" class="mat-column-right">
                    <button mat-button color="warn" (click)="deleteFixedError(element._id)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="errorMessageColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: errorMessageColumns;"></tr>

        </table>
    </mat-card>
</div>