.edit-form {
    min-width: 150px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.button-submit-errormessage{
    margin-right: 10px;
}

.container-errormessage-main {
    display: inherit;
}